@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&display=swap');

$col-gray: #696969;
$col-purple: #753ff6;
$col-green: #06daaf;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  background: #ffffff;
  padding: 28px 20px;
  font-weight: 400;

  max-width: 800px;
  margin: auto;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.c-main {
  h1 {
    font-size: 20px;
  }

  .c-search {
    display: flex;

    .c-input {
      position: relative;
      width: 100%;

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
      }
    }

    input {
      width: 100%;
      background: #ffffff;
      border: 1px solid #e2e1e1;
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04);
      border-radius: 4px;
      height: 50px;
      text-indent: 35px;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      outline: none;
      font-size: 17px;

      &::placeholder {
        color: #b1b0b0;
        font-weight: 400;
        font-size: 16px;
      }

      &:focus {
        border: 1.5px solid $col-green;
      }
    }

    button {
      background: $col-green;
      width: 150px;
      border: 0;
      color: #ffffff;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
      font-size: 16px;
      outline: none;
      cursor: pointer;

      &:disabled {
        filter: grayscale(100%);
      }
    }
  }

  .c-body {
    height: 460px;
    overflow: scroll;
    &::-webkit-scrollbar {
      background-color: #fff;
      width: 7px;
    }

    &::-webkit-scrollbar-corner {
      background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($col-gray, 0.7);
      border-radius: 40px;
    }

    .c-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));
      grid-column-gap: 10px;
      grid-row-gap: 18px;
      margin-top: 24px;

      
    }

    .c-empty {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 18px;
      }

      &__icon {
        margin-bottom: 20px;
      }
    }
  }

  .c-splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    h3 {
      margin-top: 23px;
      margin-bottom: 10px;
      font-size: 20px;
    }

    p {
      color: $col-gray;
      font-weight: 400;
      max-width: 300px;
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 20px, 0);
  }
}
